
.container a{
    max-width: 100%;
    max-height: 100%;
    top: 0;
}
.container a img {
    width: 100%;
    /* margin-bottom: 30px; */
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.container a img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.container a img {
    border-radius: 4px;
}


@media(max-width: 768px) {

    .container {
        padding: 2rem;
    }
}